# Snakemake garbage
align_snake/.snakemake/*

# VScode garbage
.vscode/*

# Big data files
align_out/*

**.sra
**.sra.lock
**.sra.prf
**.sra.tmp
**.fastq
**.fq
**.fastq.gz
**.fq.gz
**.bw
**.bam
**.fa
**.fa.gz

# Misc.
.~lock.*

# Jupyter 
.ipynb_checkpoints/*
vignettes/.ipynb_checkpoints/*

# This repo
*.h5ad
vignettes/OLD/*